Model/Service References/PaymentService/PaymentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/PaymentService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.Model" />
  <xs:element name="Pay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService.Model" minOccurs="0" name="paymentData" nillable="true" type="q1:PaymentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService.Model" minOccurs="0" name="PayResult" nillable="true" type="q2:PaymentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>